.Header{
    display: flex;
   /* Correct border declaration */
border: 1px solid black;

    justify-content: space-between;
}
.logo{
    width: 100px;
}
.Nav-items > ul {
    display: flex;
    padding: 0px 20px;
    font-size: 20px;
    list-style-type: none;
}
.Nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}